@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/* Special Classes */
.center {
    text-align: center;
    list-style-position: inside;
}

.justified {
    text-align: justify;
    
}

.underline {
    text-decoration: underline;
}
/* colors */
body {
    background-color: #f0e989;
    display: flex;
}
.white {
    color: #28a745;
}
/* Landing page */
#home {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    

}
/* How to play */
#how {
    display: none;
}

/* Buttons */
button a {
    text-decoration: none;
    color: white;
}
#how-btn {
    margin-bottom: 80px;
}
button {
    font-family: 'Lobster Two', cursive;
    color: #f0e989;
}

/* Headings */
#welcome {
    font-family: 'Lobster Two', cursive;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* List */

#how {
    font-family: 'Lobster Two', cursive;
    /* margin-bottom: 30px; */
    margin: auto 0;
    display: flex;
}
/* Game page */
/* Cards */

.card {

}

